{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/app.css' %}" />
{% endblock %}
{% block content %}
<ul>
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            {% for sugg in suggestions %}
                <div class="large-12 medium-12 small-12 cell">
                    <li>{{ sugg.suggestion }} - {{ sugg.author }}
                        <ul>
                            {% for comm in sugg.comments %}
                            <li>{{ comm.comment }} - {{ comm.author }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                </div>
            {% endfor %}
        </div>
    </div>
</ul>
{% if request.user.is_authenticated %}
<form action="/" method="post">
    {% csrf_token %}
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="large-4 medium-4 small-4 cell">
                {{ suggestion_form.suggestion.label }}:
            </div>
            <div class="large-4 medium-4 small-4 cell">
                    
                {{ suggestion_form.suggestion }}
            </div>
            <div class="large-4 medium-4 small-4 cell">
                {{ suggestion_form.suggestion.errors }}           
            </div>
            <div class="large-12 medium-12 small-12 cell">
                <input type="submit" class="button" value="Add Suggestion"/>
            </div>
        </div>
    </div>
</form>
{% endif %}
{% endblock %}
